#usersList {
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}

#profileCards {
    border: 1px solid white;
    border-radius: 6px;
    padding: 20px;
}

#profileLink {
    cursor: pointer;
    transition: color 150ms;
}

#profileLink:hover {
    color: rgb(9, 71, 9);
}